*, html {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    flex-shrink: 0;
    background-color: #F5F5F5;
    padding: 20px 10px;
}

.logo-container {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    .logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        font-family: "Inter";
        align-items: center;
        h1 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #D39817;
            span {
                color: #000;
            }
        }
    
    }
    .logo-roof {
        display: flex;
    }
}

.product-category {
    margin-left: 50px;
    display: flex;
    align-items: center;    
    font-weight: 100;
    a {
        text-decoration: none;
        h1 {
            color: #9E6D00;
            font-size: 16px;
            font-family: "Nunito";
        }
    }
}

.search-bar {
    display: flex;
    padding: 2px 5px;
    margin-left: 80px;
    border-radius: 10px;
    width: 400px;
    align-items: center;
    border: 2px dotted rgb(104, 104, 104);
    height: fit-content;
    input {
        height: 25px;
        width: 100%;
        border-radius: 10px;
        border: none;
        margin-right: 5px;
    }
    button {
        width: fit-content;
        display: flex;
        padding: 4px 10px;
        align-items: center;
        justify-content: center;
        height: fit-content;
        border-radius: 10px;
        background-color:  #D39817;
        border: 0px;
    }
    button:hover {
        cursor: pointer;
        background-color: #9E6D00;
        
    }
    input:focus {
        outline: none; /* Remove the outline that appears on focus */
        border: none; /* Keep the border none when active */
    }
    
    input::placeholder {
        text-align: right; /* Align placeholder text to the right */
        color: #888; /* Optional: Placeholder text color for better visibility */
    }
}

.cart {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.user-button {
    margin: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    button {
        height: 40px;
        font-size: 18px;
        padding: 2px 25px;
        border-radius: 10px;
    }
    .loginButton {
        border: 1px solid #D39817;
        color: #D39817;
    }
    .loginButton:hover {
        border: 1px solid #D39817;
        color: #FFF;
        background: #D39817;
        cursor: pointer;
    }
    .signupButton {
        border: 1px solid #D39817;
        color: #FFF;
        background: #D39817;
    }
    .signupButton:hover {
        border: 1px solid #D39817;
        background-color: #FFF;
        color: #D39817;
        cursor: pointer;
    }
}  

.carousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #ccc;
    img {
        height: 600px;
        width: 100%;
    }
  }

